## learn pandas

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

/home/huizhu/anaconda2/lib/python2.7/site-packages/matplotlib/font_manager.py:273: UserWarning: Matplotlib is building the font cache using fc-list. This may take a moment.
  warnings.warn('Matplotlib is building the font cache using fc-list. This may take a moment.')

### 两列成绩数据

In [42]:
english = [56, 75, 45, 71, 62, 64, 58, 80, 76, 61]
math = [66, 70, 40, 60, 65, 56, 59, 77, 67, 63]
df_marker = pd.DataFrame({'English': english, 'Math': math})
print df_marker.T

          0   1   2   3   4   5   6   7   8   9
English  56  75  45  71  62  64  58  80  76  61
Math     66  70  40  60  65  56  59  77  67  63

### 对数据进行排序

In [44]:
df_marker.sort_index(axis=0, ascending=False).T # axis=0 表示 index

          9   8   7   6   5   4   3   2   1   0
English  61  76  80  58  64  62  71  45  75  56
Math     63  67  77  59  56  65  60  40  70  66

In [46]:
df_marker.sort_index(axis=1, ascending=False).T # axis=1 表示 columns ("Math", "English")

          0   1   2   3   4   5   6   7   8   9
Math     66  70  40  60  65  56  59  77  67  63
English  56  75  45  71  62  64  58  80  76  61

In [47]:
df_marker.sort_values(by="Math", ascending=False).T

          7   1   8   0   4   9   3   6   5   2
English  80  75  76  56  62  61  71  58  64  45
Math     77  70  67  66  65  63  60  59  56  40

In [10]:
def tied_rank(x):
    """
    ref: https://github.com/bkgood/auc.git
    
    Computes the tied rank of elements in x.

    This function computes the tied rank of elements in x.

    Parameters
    ----------
    x : list of numbers, numpy array

    Returns
    -------
    score : list of numbers
            The tied rank f each element in x

    """
    sorted_x = sorted(zip(x,range(len(x))))
    r = [0 for k in x]
    cur_val = sorted_x[0][0]
    last_rank = 0
    for i in range(len(sorted_x)):
        if cur_val != sorted_x[i][0]:
            cur_val = sorted_x[i][0]
            for j in range(last_rank, i): 
                r[sorted_x[j][1]] = float(last_rank+1+i)/2.0
            last_rank = i
        if i==len(sorted_x)-1:
            for j in range(last_rank, i+1): 
                r[sorted_x[j][1]] = float(last_rank+i+2)/2.0
    return r

In [48]:
eng_rank = tied_rank(english)
math_rank = tied_rank(math)

print english
print eng_rank

[56, 75, 45, 71, 62, 64, 58, 80, 76, 61]
[2.0, 8.0, 1.0, 7.0, 5.0, 6.0, 3.0, 10.0, 9.0, 4.0]

In [55]:
df = pd.DataFrame({'English':english, 'Math': math,
                   'english_rank': eng_rank, 'math_rank': math_rank
                  })
df.sort_values(by="english_rank", ascending=True)

   English  Math  english_rank  math_rank
2       45    40           1.0        1.0
0       56    66           2.0        7.0
6       58    59           3.0        3.0
9       61    63           4.0        5.0
4       62    65           5.0        6.0
5       64    56           6.0        2.0
3       71    60           7.0        4.0
1       75    70           8.0        9.0
8       76    67           9.0        8.0
7       80    77          10.0       10.0