In [1]:
import numpy as np
import pandas as pd

In [4]:
from Teemo.datasets.examples.protein_identifiers import load_labels_from_drugbank_file
import os
drugbank_dir = os.path.join(os.path.expanduser('~'),
        'bitbucket/mol_data/drugbank/')

sdf_dir = os.path.join(drugbank_dir, 'logs/sdf3D')
target_protein_all_file = os.path.join(drugbank_dir, 
        'protein_identifiers/drug_target_identifiers/drugbank_all_target_polypeptide_ids/all.csv')
target_protein_active_file = os.path.join(drugbank_dir, 
        'protein_identifiers/drug_target_identifiers/drugbank_all_target_polypeptide_ids/pharmacologically_active.csv')

In [6]:
n_samples = 10000
exists_drug_ids = [item.split('.')[0] for item in os.listdir(sdf_dir)]
df = load_labels_from_drugbank_file(
    target_protein_all_file,
    target_protein_active_file,
    validate_drug_ids=exists_drug_ids)

In [7]:
df.shape

(5208, 10)

In [8]:
df.head()

,P00734,P00918,P07477,P11229,P14416,P14867,P24941,P28223,P35348,P35367
DB05107,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
DB08426,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
DB08425,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
DB05104,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
DB08423,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [12]:
df.loc[df == -1] = 0

ValueError: cannot copy sequence with size 10 to array axis with dimension 5208

In [23]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2})
new_df = df.where(df != -1, 0)

In [24]:
new_df.head()

,P00734,P00918,P07477,P11229,P14416,P14867,P24941,P28223,P35348,P35367
DB05107,0,0,0,0,0,0,0,0,0,0
DB08426,0,0,0,0,0,0,0,0,0,0
DB08425,0,0,0,0,0,0,0,0,0,0
DB05104,0,0,0,0,0,0,0,0,0,0
DB08423,0,0,0,0,0,0,0,0,0,0

In [25]:
import numpy as np
from sklearn.metrics import roc_auc_score
y_true = np.array([0, 0, 1, 1])
y_scores = np.array([0.1, 0.4, 0.35, 0.8])
roc_auc_score(y_true, y_scores)

0.75

In [27]:
y_true = np.array([[0, 1], [0, 1], [1, 0], [1, 0]])
y_scores = np.array([[0.1, 0.9], [0.4, 0.6], [0.35, 0.65], [0.8, 0.2]])
roc_auc_score(y_true, y_scores)

0.75